---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Tutorial</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about">about</a>
        <a href="/blog/">Blog</a>
		<h1>Sobre mi</h1>
        <h2>...Y mi nuevo sitio Astro</h2>
        <p>Estoy trabajando en un tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, y es la primera que he construido yo mismo en Astro!</p>
        <p>
            Este sitio se ira actualizando a medida que aprenda un poco mas de este maravilloso framework. No dejes de visitarlo para que constates como me esta yendo.
        </p>
	</body>
</html>
